.header-box {
    height: 60px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid  rgba(100, 100, 100, 0.244);
    z-index: 10;
}

.names {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: left;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
}



.btns {
    text-align: center;
}

.time {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: right;
    
}

@media only screen and (max-width: 500px){
    .btns {
        text-align: left;
    }
    .time{
        display: none;
    }
    
}

/* @media only screen and (max-width: 380px){
   .names{
    text-align: center;
}
.btns{ */
    /* margin-left: 40px; */
    /* border: 1px solid red;
   }
   .header-box{
    height: 90px;
   }
} */

@media only screen and (max-width: 376px) and (min-width: 320px)  {

    .names{
        text-align: center;
    }
    .btns{
        margin-left: 30px;
    }
    .header-box{
        height: 90px;
    }
}